<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="login">   
    <h1>Welcome Back!</h1>
    
    <form action="/login" method="post">
      <div class="field-wrap">
        <label>
          Email Address<span class="req">*</span>
        </label>
        <input type="email" name="email" required autocomplete="off"/>
      </div>
      
      <div class="field-wrap">
        <label>
          Password<span class="req">*</span>
        </label>
        <input type="password" name="password" required autocomplete="off"/>
      </div>
      
      <p class="forgot"><a href="#">Forgot Password?</a></p>
      
      <button type="submit" class="button button-block">Log In</button>
    </form>
  </div>
</body>
</html>
